/* Typography */

h1 {
	font-size: 1.602rem;
}

@media print and (min-width: 37.5rem) {
	h1 {
		font-size: calc(1.97412vw + 0.86171rem);
	}
}

@media print and (min-width: 80rem) {
	h1 {
		font-size: 2.441rem;
	}
}

h2 {
	font-size: 1.424rem;
}

@media print and (min-width: 37.5rem) {
	h2 {
		font-size: calc(1.24471vw + 0.95724rem);
	}
}

@media print and (min-width: 80rem) {
	h2 {
		font-size: 1.953rem;
	}
}

h3 {
	font-size: 1.266rem;
}

@media print and (min-width: 37.5rem) {
	h3 {
		font-size: calc(0.69882vw + 1.00394rem);
	}
}

@media print and (min-width: 80rem) {
	h3 {
		font-size: 1.563rem;
	}
}

h4 {
	font-size: 1.125rem;
}

@media print and (min-width: 37.5rem) {
	h4 {
		font-size: calc(0.29412vw + 1.01471rem);
	}
}

@media print and (min-width: 80rem) {
	h4 {
		font-size: 1.25rem;
	}
}

h5 {
	font-size: 1rem;
}

@media print and (min-width: 37.5rem) {
	h5 {
		font-size: calc(0.14706vw + 0.94485rem);
	}
}

@media print and (min-width: 80rem) {
	h5 {
		font-size: 1.0625rem;
	}
}

h6 {
	font-size: 0.88889rem;
}

@media print and (min-width: 37.5rem) {
	h6 {
		font-size: calc(-0.0915vw + 0.9232rem);
	}
}

@media print and (min-width: 80rem) {
	h6 {
		font-size: 0.85rem;
	}
}

@media print and (min-width: 37.5rem) {
	p {
		font-size: calc(0.14706vw + 0.94485rem);
	}
}

@media print and (min-width: 80rem) {
	p {
		font-size: 1.0625rem;
	}
}

/* Print customizing */
.wrapper {
	width: 100% !important;
}

.logo {
	padding: 0;
	text-align: left !important;
}
.logo .header-logo-text {
	font-size: 1.563rem !important;
	line-height: 1 !important;
	margin: 0 0 .25rem 0 !important;
	padding-bottom: .25rem;
	border-bottom: 1px solid currentColor;
}
.logo .header-logo-text a {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: space-between;
}
.logo .header-logo-text a::after {
	display: block;
	content: "\A" attr(href);
	font-size: 1rem;
	letter-spacing: 0;
	white-space: pre;
	font-weight: normal;
	text-transform: none;
}
.tagline {
	text-align: left !important;
}

.single-recipe .widget,
.single-recipe .widget-area-header,
.single-recipe .widget-area-sidebar,
.single-recipe .entry-author,
.single-recipe .entry-related,
.single-recipe .entry-meta,
.single-recipe article button,
.single-recipe #comments,
.single-recipe .widget-area-footer,
.single-recipe .post-navigation {
	display: none !important;
}
.single-recipe .header-meta {
	justify-content: flex-start;
}
.single-recipe .entry-title {
	font-size: 1.953rem;
}
.header-meta__element {
	flex: 0 1 auto !important;
}
.header-meta__element + .header-meta__element {
	margin-left: 1.5rem;
}

.footer-copyrights {
	text-align: left;
}
.footer-copyrights li:not(.credits) {
	display: none !important;
}

.single-recipe .entry-singular .photo {
	display: inline-block;
	max-height: 350px;
	width: auto;
	margin: 0 0 0 1.5rem;
	float: right;
	max-width: 50% !important;
}
.single-recipe .entry-singular p:first-of-type .photo {
	margin-top: 1.5rem;
}
.single-recipe .entry-singular p:nth-child(n+4) .photo {
	display: none;
}
.single-recipe .frontpage-banner,
.single-recipe.print-without-images .frontpage-banner,
.single-recipe.print-without-images .entry-singular .photo {
	display: none;
}
*[class^="ezoic-"],
.adtester-container.ezoic-ad[style],
.ezoic-ad,
.ezmob-footer {
	display: none !important;
	height: 0 !important;
	min-height: unset !important;
}

.single-recipe .entry-singular a[href]:after {
	content: "";
}
